<nz-header>
  <a class="logo"
     [routerLink]="slices.appSlice.root.state">
    <img class="image"
         src="/assets/logo/white.png"
         alt="logo"/>
  </a>

  <ul class="menu"
      nz-menu
      [nzTheme]="'dark'"
      [nzMode]="'horizontal'">

    <!--So, here we are -->
    <!--Feel free to use as you want-->
    <!--But array-like record is preferred-->
    <li nz-menu-item [routerLink]="slices.aboutSlice.root.stateFn()">About</li>
    <li nz-menu-item [routerLink]="slices.automobileSlice.root.stateFn({})">Automobiles</li>
    <li nz-menu-item [routerLink]="slices.bikeSlice.root.state">Bikes</li>
    <li nz-menu-item routerLink="{{slices.bolidSlice.root.state.join('/')}}">Bolids</li>
  </ul>
</nz-header>
