<!--here you can find different navigation approaches-->
<nz-header>
  <a class="logo"
     [navLink]="app.root.state">
    <img class="image"
         src="/assets/logo/white.png"
         alt="logo"/>
  </a>

  <nav class="menu"
       nz-menu
       [nzTheme]="'dark'"
       [nzMode]="'horizontal'">

    <a nz-menu-item navLink="{{ about.root.state }}">About</a>
    <a nz-menu-item [navLink]="union.automobiles.root.state" navLinkActive="my-active-class">Automobiles</a>
    <a nz-menu-item routerLink="/bikes">Bikes</a>
    <a nz-menu-item [navLink]="union.bolids.root" [navLinkActive]="['myActiveClass']">
      Bolids
    </a>
    <a nz-menu-item
       [navLink]="hub.bolids.year"
       [navParams]="{year: 2018}"
       [navLinkActive]="['myActiveClass', 'myActiveClass2']">
      Bolids (2018)
    </a>

    <a nz-menu-item (click)="freshBolids()">
      Bolids (2019)
    </a>
  </nav>
</nz-header>
