<nz-header>
  <a class="logo"
     [navLink]="slices.app.root.state">
    <img class="image"
         src="/assets/logo/white.png"
         alt="logo"/>
  </a>

  <ul class="menu"
      nz-menu
      [nzTheme]="'dark'"
      [nzMode]="'horizontal'">

    <!--different possibilities to navigate-->
    <li nz-menu-item [navLink]="slices.about.root.state">About</li>
    <li nz-menu-item [navLink]="slices.automobile.root.state">Automobiles</li>
    <li nz-menu-item [navLink]="slices.bike.root.state">Bikes</li>
    <li nz-menu-item navLink="{{slices.bolid.root.state.join('/')}}" [navParams]="{year: '2018'}">Bolids</li>
  </ul>
</nz-header>
