.vehicles {
  width: 100%;

  .vehicle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }

  .title {
    color: #022648;
    font-weight: bold;
    font-size: 18px;
  }

  .image {
    width: auto;
    height: 200px;
  }
}
